<!-- DESKTOP -->
<div class="menu-container menu-default">
	<div id="logo_container">
		<a class="menu-logo"><div alt="Amigo Secreto é na Hering" title="Amigo Secreto é na Hering" class="logo-h-default"></div></a>
	</div>
	<div class="menu-default-panel">
		<div class="menu-items-panel">
			
				<a class="menu-item" access-action="dashboard.dashboard" href="Dashboard"><span class="glyphicon glyphicon-stats menu-line1" aria-hidden="true"></span><span class="menu-label menu-line2">Dashboard</span></a>
			
				<a class="menu-item" access-action="relnumerosorte.relnumerosorte" href="RelNumeroSorte"><span class="glyphicon glyphicon-star menu-line1" aria-hidden="true"></span><span class="menu-label menu-line2">Números da sorte</span></a>
			
				<a class="menu-item" access-action="relparticipantes.relparticipantes" href="RelParticipantes"><span class="glyphicon glyphicon-user menu-line1" aria-hidden="true"></span><span class="menu-label menu-line2">Participantes</span></a>

				<a class="menu-item" access-action="reltriagem.reltriagem" href="RelTriagem"><span class="glyphicon glyphicon-search menu-line1" aria-hidden="true"></span><span class="menu-label menu-line2">Triagem</span></a>

				<a class="menu-item" access-action="permit.permit" href="Permit"><span class="glyphicon glyphicon-lock menu-line1" aria-hidden="true"></span><span class="menu-label menu-line2">Permissões</span></a>

		</div>
	</div>
	<div id="btn_logout_container">
		<div id="log_name_container">
			
		</div>
		<div id="btn_logout" class="logout-item"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;Sair</div>
	</div>
</div>

<style type="text/css">

</style>

<!-- MOBILE -->

<div id="menu_mobile" class="menu-container menu-mobile">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Abrir menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="img/logo_156x70.png" alt="Amigo Secreto é na Hering" title="Amigo Secreto é na Hering" class="logo-h-mini"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					
						<li><a data-toggle="collapse" data-target=".navbar-collapse" class="mobile-item" href="Dashboard">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Dashboard</a></li>
					
						<li><a data-toggle="collapse" data-target=".navbar-collapse" class="mobile-item" href="RelNumeroSorte">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Número da sorte</a></li>
					
						<li><a data-toggle="collapse" data-target=".navbar-collapse" class="mobile-item" href="RelParticipantes">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Participantes</a></li>

						<li><a data-toggle="collapse" data-target=".navbar-collapse" class="mobile-item" href="RelTriagem">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Triagem</a></li>

						<li><a data-toggle="collapse" data-target=".navbar-collapse" class="mobile-item" href="Permit">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Permissões</a></li>

						<li><a data-toggle="collapse" id="logout_mobile" data-target=".navbar-collapse" class="mobile-item">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Sair</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>